* {
    font-family: 'Abel', sans-serif;
}

h1, h2,
h3, h4,
h5, h6 {
    font-family: 'Anton', sans-serif;
}

.navbar {
    height: 8em;
    margin-top: 70px;
}

.jumbotron {
    margin-bottom: 4px;
    background: none;
    text-align: center;
}
